@using System.Security.Claims


<header>
    <div class="bar">
        <div class="brand">
            <h1 class="logo">Meno<span>Pro</span></h1>
        </div>
      
        <nav>
            <ul>
                    <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                    <li><a href="/#features"><i class="fas fa-info-circle"></i> About</a></li>
                    <li><a href="/#services"><i class="fas fa-dumbbell"></i> Services</a></li>
                    <li><a href="/#membership"><i class="fas fa-dollar-sign"></i> Pricing</a></li>
                    <li><a href="/Account/Login" class="cta-button"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                    <li><a href="/Account/RegisterStep1" class="cta-button"><i class="fas fa-user-plus"></i> Join Now</a></li>
                    <li>
                        <button class="theme-toggle-btn theme-btn" title="Toggle Light/Dark Mode">
                            <i class="fas fa-moon"></i>
                        </button>
                    </li>
                
            </ul>
        </nav>
    </div>
</header>
